body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333333;
}
h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
}
h2 {
    font-size: 24px;
    margin: 0 auto;
    position: relative;
    left: 200px;
}
p {
    padding-right: 300px;
    position: relative;
    left: 225px;
}
#main-bio {
    float: left;
    width: 70%;
}
#contact-info {
    float: left;
    width: 30%;
}
#contactTitle {
    left: 10px;
}
#bio-image {
    float: left;
    width: 200px;
    position: relative;
    left: 200px;
    top: 20px;
}
.url-link {
    color: #d21034;
}
.contact-padding {
    padding: 3px;
}
