/* Shell + Contact elements */

header {
    background-color: #f1f0ee;
    font-size: 16px;
    padding-top: 5px;
}
body {
    background-color: #6d695c;
background-image:
repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
background-size: 70px 120px;
background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    line-height: 160%;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    color: #3a4660;
}
.navBar {
    position: relative;
    top: -60px;
    right: 80px;
}
.navLine {
    color: #3a4660;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
a {
    color: #3a4660;
    padding: 15px;
    font-size: 20px;
}
.navLink {
    color: #3a4660;
    text-decoration: none;
}
.navContent {
    position: relative;
    bottom: 2px;
}
li {
    float: left;
}

section {
    width: 65%;
    margin: auto;
    background: #f1f0ee;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: #f1f0ee;
    border-width: 1px;
    position: relative;
}
h1 {
    padding: 25px 25px 25px 40px;
    background: #3a4660;
    width: 20%;
    min-width: 235px;
    margin-left: 12%;
    color: #f1f0ee;
}
#bio-image {
        border-radius: 20px;
        height: 25%;
        width: 25%;
        float: left;
        margin-right: 15px;
        margin-bottom: 0px;
    }
.line2 {
    margin-bottom: 24px;
    border: 1.5px solid #3a4660;
    border-radius: 1px;
}
.line3 {
    margin-bottom: 24px;
    border: 1.5px solid #3a4660;
    position: relative;
    top: 8px;
    border-radius: 1px;
}
    .par1 .par2 .githubIndex {
    color: #3a4660;
}
footer {
    text-align: center;
    font-size: 12px;
    color: #f1f0ee;
    background-color: #3a4660;
}
.url-link {
    font-size: 16px;
    margin-left: -15px;
}
.url-link:hover {
    color: rgb(21, 21, 192);
}
.LinkedinIndex {
    margin-top: -18px;
}
/* CONTACT */

.textBox{
    width: 745px;
    height: 25px;
    padding-left: 7px;
}

.textBoxforMessage {
    width: 751px;
    height: 180px;
    margin-top: -15px;
}
.button {
    background-color: #3a4660;
    color: #f1f0ee;
    padding: 6px 15px 6px 15px;
    position: relative;
    top: 10px;
    width: 80px;
}
.form {
    margin-top: -15px;
}


/* PORTFOLIO/GALLERY */

#ball-Project-image {
    width: 30%;
    height: 30%;
}

#penguin-Project-image {
    margin-top: 20px;
    margin-left: -15px;
    width: 30%;
    height: 175px;
}
.ballLabel {
    background-color: #3a4660;
    color: #f1f0ee;
    text-align: center;
    vertical-align: middle;
    width: 28.5%;
    height: 7%;
    position: absolute;
    top: 206px;
    line-height: 40px;
}
.penguinLabel {
    background-color: #3a4660;
    color: #f1f0ee;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    width: 30%;
    height: 43px;
    position: relative;
    bottom: 83px;
}

















